* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: radial-gradient(circle at top, #0f2027, #000);
    color: #eaeaea;
    min-height: 100vh;
}

.navbar { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar a { 
    text-decoration: none;
    color: #ccc;
    position: relative;
}

.navbar A::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px;
    background: #00ffe1;
    transition: 0.3s;
}

.navbar a:hover {
  color: #00ffe1;
}

.navbar a:hover::after {
  width: 100%;
}           